$background:red;
$fontsize:28px;
$fontcolor:aqua;
$margin:20px;
$padding:15px;
$center:center;
p {

    padding:$padding;
    background-color: $background;
    font-size:$fontsize;
    color:$fontcolor;
    margin:$margin;
}
h1 {
    padding:$padding;
    color:$background;
    text-align:$center; 
    background: $fontcolor;
}