body {
    font-family: 'Titillium Web', sans-serif;
    
}

form {
    box-sizing: border-box;
    width: 25%;
    margin: 0 auto;
    border: none;
}

fieldset {
    
    background-color: #e6e6e6;
    padding: 10px 25px 30px 25px;
    border: none;
    border-radius: 10px 0;
}

h1 {
    text-align: center;
    color:#c20000;
    font-size: 3em;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    padding-bottom: 15px; 
    border-bottom: 1px solid grey;
    font-size: 2em;
    letter-spacing: 1px;
}

span {
    display:block;
    margin-top: 15px;
    margin-bottom: 10px;
}

.get {
    display: inline;
    margin-top: 0;
    color: #ffb01d;
}

input {
    border-radius:7px;
    box-shadow: 0;
    width:100%;
    box-sizing: border-box;
    padding: 5px;
    -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.35);;

}

.submit {
    background-color: #c20000;
    width: 100%;
    border: none;
    color: #fff;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}
