<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>float</title>
    <link rel="stylesheet" href="float.css">
</head>

<body>
    <div class="nav">
        <ul id="header-ul">
            <li class="header-li">Blog</li>
            <li class="header-li">Contact</li>
            <li class="header-li">About</li>
            <li class="header-li">Home</li>
        </ul>
    </div>
    <div class="image">
        <img src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="" width="960px;">
    </div>


    <div class="main">

        <ul class="content-ul">
            <li class="content-li">Rebuilding slack.com</li>
            <li class="content-li">Zasto bootcamp format</li>
            <li class="content-li">React-prozor u svet web aplikacija</li>
            <li class="content-li">Najvece zablude o programerima u srbiji</li>
        </ul>

        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/aa5050" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/543c73" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div id="main-div" class="main-divs">
            <img src="http://via.placeholder.com/300x200/aa6a50" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/37755a" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/aa5050" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/543c73" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/aa6a50" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>
        <div class="main-divs">
            <img src="http://via.placeholder.com/300x200/37755a" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae fuga, recusandae dolores maxime hic ex provident
                et sit, distinctio repellendus dolore officia reiciendis minus mollitia eius, quibusdam odit quas veniam!
            </p>
        </div>

    </div>
    <footer>
        <span class="copyright">&#169</span>
        <h6>BitStudent</h6>
    </footer>
</body>

</html>