.nav {
    width:960px;
    height:50px;
    background: rgb(138, 15, 15);
    color:white;
    margin:0 auto;
}
ul > li {
    float:right;
    list-style: none;
    margin:15px 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.image {
    width: 960px;
    margin:5px auto;
}
.main{
    width: 960px;
    margin:5px auto;
}
.blok{
    background: rgb(219, 200, 27);
    width: 300px;
    float: right;
    padding: 10px;
}

span{
    width: 100%;
}