<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>z-index</title>
    <link rel="stylesheet" href="z_index.css">
</head>

<body>
    <h1>Z-index</h1>
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <hr>
    <div class="first"></div>
    <div class="second relative2"></div>
    <div class="third relative3"></div>
    <hr>
    <div class="box">
            <div class="first right"></div>
            <div class="second right2"></div>
            <div class="third right3"></div>
        


    </div>


</body>

</html>