@import "variables";
@import "mixins";
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:$backgroundColor;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    text-align: center;
    background:$backgrndClr;
    color: white;
    @include text-stil(green,5px ,red );
}

h2 {
    margin: 0 auto;
    text-align: left;
    background: $colorThead;
    color: white;
    width:80%;
    @include text-stil(blue,5px ,white );
}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
    width:$ImgWidth;
    @include box-stil(15px, 10px,red );
}

table {
    width: 80%;
    margin: 0 auto;
    color: #333;
    background: $backgrndClr;
    border-collapse: collapse;
    @include box-stil(15px, 10px,red );
    tr {
        border-bottom: 1px solid #eee;
        td {
        
            padding: 15 0;
            @include text-stil(white,5px ,red );
            &:first-child {
                width: 300px;
                padding-left: 10px;
                @include text-stil(black,1px ,white );
            }
            
        }
  
    }
}

p#footer {
    margin-top: 100px;
    font-family: $fontFooter;
    @include text-stil(white,1px, black );
    
}